body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #2e354f;
}

h1,
h2,
strong {
  font-weight: 900;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  color: #ef5839;
}

/* 1. suru kore body theke
2. typography
3. layout
 */
