body {
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #2e354f;
}

/* Typography */
h1,
h2,
strong {
  font-weight: 900;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 24px;
  color: #ef5839;
}
img {
  max-width: 100%;
}

a {
  color: #ef5839;
}

a:hover,
a:focus {
  color: #d4b44c;
}

/* Layout */

header {
  background: #2e354f;
  padding: 45px 0;
  color: #fff;
}

section {
  padding: 45px 0;
}

.section-two {
  background: #2e354f;
  color: #fff;
}

.container {
  width: 620px;
  margin: 0 auto;
}

/* 1. suru kore body theke
2. typography
2.5 don't repeat your self
2.5 a anchor er color h2 er color same tar poreo a ke common style deyni, karon a te hover, focus add korbe tai
3. layout
3.5 play with specific number margin padding etc
3.5 .section-one {
  width: 620px;
  margin: 0 auto;
  padding: 45px 0;
}

.section-two {
  width: 620px;
  margin: 0 auto;
} code gula akei tai common gula alada korbe....
 */
